# To keep the compatibilty with Python 2.x and 3.x
six

django ~= 1.9
djangorestframework ~= 3.3

## Needed by the settings base module. Do not remove.
Unipath
dj-database-url

#####################################################
#
# Below are some commonly used django apps, included
# here for convenience.
# Be sure to add version numbers here!!!!
#
#####################################################

# Convenient utilities for Django Models
# https://github.com/carljm/django-model-utils
# django-model-utils

# PostgreSQL Database Adapter
psycopg2

# MySQL Database Adapter
# django-cymysql

# Djangoe Enum Field
# http://github.com/5monkeys/django-enumfield
django-enumfield

#####################################################
#
# Django REST Framework Addons
# Some usefull third party addons to DRF
#
#####################################################

# https://github.com/juanriaza/django-rest-framework-msgpack
# djangorestframework-msgpack

# https://github.com/gizmag/drf-ujson-renderer
drf_ujson

# https://github.com/marcgibbons/django-rest-swagger
django-rest-swagger

#####################################################
#
# Celery and other task related packages
#
#####################################################
# Main Celery package
celery[redis]

#####################################################
#
# Other packages
#
#####################################################

# Support for JSON in database models
# https://bitbucket.org/schinckel/django-jsonfield/
jsonfield

# Paramiko SSH client
paramiko

# Requests
requests

# Colorful logs
# https://github.com/borntyping/python-colorlog
colorlog

# numerical and statistical library
numpy

# phantomas
phantomas

# PyGithub
PyGithub

# PyVirtualDisplay
PyVirtualDisplay

# Selenium Tests
selenium

# CORS headers
django-cors-headers

#####################################################
#
# Development packages
#
#####################################################

django-debug-toolbar
django-extensions

# For easy deployments
# http://docs.fabfile.org/en/latest/
# Fabric

# Dependent on the Pypi version it can be required by Sphinx
sphinx_rtd_theme

# For building documentation
# http://sphinx-doc.org/
Sphinx

# For running tests
coverage

# For easy fixtures and test creation
model_mommy
mock

# https://github.com/getsentry/responses
responses

# For jenkins integration
django-jenkins
pep8
pyflakes
flake8